=form_for @project, multipart: true do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibieron guardar este proyecto:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
    .panel.panel-default
      #headingOne.panel-heading{:role => "tab"}
        %h4.panel-title
          %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
            Info Básica
      #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
        .panel-body

          .form-group
            .field
              = f.label :Nombre
              = f.text_field :name, placeholder: "Nombre", class: "form-control input-lg"

          .row.large-12.columns
            %form.form-horizontal
              .form-group.col-md-4
                %label{:for => ""} Cartera
                %p#cartera.form-control.input-lg=f.select :portfolio_id, Portfolio.all.map { |p| [p.name, p.id ] }, class: "form-control"
              .form-group.col-md-4
                %label{:for => ""} Zona Metropolitana
                %p#zona.form-control.input-lg=f.select :category_id, Category.all.map { |c| [c.name, c.id ] }, class: "form-control"
              .field.col-md-4
                =f.label :Ubicación
                =f.text_field :location, placeholder: "Ubicación", class: "form-control input-lg"

          .row.large-12.columns
            %form.form-horizontal
              .field.col-md-6
                =f.label :Contratado
                =f.text_field :price, prepend: "$", append: ".00", placeholder: "Monto Contratado", class: "form-control input-lg"
              .field.col-md-6
                =f.label :Autorizado
                =f.text_field :authorized_amount, prepend: "$", append: ".00", placeholder: "Monto Autorizado", class: "form-control input-lg"

          .row.large-12.columns
            %form.form-horizontal
              .field.col-md-6
                =f.label :Economía
                =f.text_field :economy, prepend: "$", append: ".00", placeholder: "Economía", class: "form-control input-lg"
              .form-group.col-md-6
                %label{:for => ""} Ejecutor
                %p#cartera.form-control.input-lg=f.select :executor_id, Executor.all.map { |e| [e.name, e.id ] }, class: "form-control"

          .form-group
            .field
              = f.label :Estatus
              = f.text_field :status, placeholder: "Estatus", class: "form-control input-lg"

    .panel.panel-default
      #headingTwo.panel-heading{:role => "tab"}
        %h4.panel-title
          %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
            Info Restante
      #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
        .panel-body

          .form-group
            .field
              = f.label :Contacto
              = f.text_field :contact, placeholder: "Persona de contacto y telefono", class: "form-control input-lg"

          .row.large-6.columns
            %form.form-horizontal
            .form-group.col-md-3
              %label{:for => ""} Fecha inicio:
              =f.date_field :start_date
            .form-group.col-md-3
              %label{:for => ""} Fecha Fin:
              =f.date_field :end_date

          .row.large-12.columns
            .field.col-md-6
              =f.label :Autorización
              =f.text_field :auth_number, placeholder: "Num. Oficio Autorización", class: "form-control input-lg"
            .field.col-md-6
              =f.label :Contrato
              =f.text_field :contract_number, placeholder: "Num. Contrato", class: "form-control input-lg"

          .row.large-6.columns
            .form-group.col-md-2
              %label{:for => ""} Meta Programada
              =f.text_field :target_set, placeholder: "Meta Programada", class: "form-control input-lg"
            .form-group.col-md-4
              %label{:for => ""} Unidad de Medida
              %p#unidad.form-control.input-lg=f.select :unit_id, Unit.all.map { |u| [u.name, u.id ] }, class: "form-control input-lg "

          .row.large-12.columns
            .field.col-md-6
              =f.label :Fisico
              =f.text_field :physical_progress, placeholder: "Avance Físico", class: "form-control input-lg"
            .field.col-md-6
              =f.label :Financiero
              =f.text_field :financial_progress, placeholder: "Avance Financiero", class: "form-control input-lg"

          .field.form-group
            = f.label :Observaciones
            .col-sm-122
              = f.text_area :observations, placeholder: "Observaciones", class: 'form-control'

          .field
            = f.label :imagen
            = f.file_field :image

    %button.btn.btn-primary{:type => "submit"} Guardar
