%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Price
      %th Image
      %th

  - projects.each do |project|
    %tr
      %td= link_to project.name, project
      %td= number_to_currency project.price
      %td= image_tag project.image.thumb
      %td
        = link_to 'Edit', edit_project_path(project)
        = link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }
