%h1= @project.name

%p= number_to_currency @project.price
%p= image_tag @project.image, height: "300"

%p= link_to "agregar a reporte", add_report_path, method: :post,  class: "btn btn-primary"
= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
